[submodule "contrib/unicorn-lib"]
	path = contrib/unicorn-lib
	url = https://github.com/alesapin/unicorn-lib
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest/
[submodule "contrib/span-lite"]
	path = contrib/span-lite
	url = https://github.com/martinmoene/span-lite
[submodule "contrib/rapidjson"]
	path = contrib/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "contrib/libcharsetdetect"]
	path = contrib/libcharsetdetect
	url = https://github.com/batterseapower/libcharsetdetect
[submodule "contrib/sanitizers-cmake"]
	path = contrib/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
[submodule "contrib/args"]
	path = contrib/args
	url = https://github.com/Taywee/args
[submodule "contrib/pybind11"]
	path = contrib/pybind11
	url = https://github.com/pybind/pybind11/
