language: c++
matrix:
  include:
    - os: linux
      dist: trusty
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
          packages:
            - g++-7
            - cmake-data
            - cmake
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
#    - os: linux
#      dist: trusty
#      addons:
#        apt:
#          sources:
#            - george-edison55-precise-backports
#            - ubuntu-toolchain-r-test
#            - llvm-toolchain-trusty-6.0
#          packages:
#            - clang-6.0
#            - cmake-data
#            - cmake
#      env:
#        - MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0"


script:
  -  cmake . && make && ./testrun
before_install:
  - eval "${MATRIX_EVAL}"
